nav {
    position: fixed;
    top: 0;
    left: 0; /* Додаємо для точного вирівнювання */
    width: 100%;
    height: 60px; 
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(150px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: 0.5s ease;
}


/* Светлый режим для навбара */
body.light-mode nav {
    background: rgba(255, 255, 255, 0.8);
}

/* Содержимое навбара */
.nav-content {
    display: flex;
    align-items: center;
    gap: 15px; /* Расстояние между элементами */
}

.ul
{

}

.li
{
    
}
