.cat .nose {
    position: absolute;
    top: 110px; /* Расположение носа */
    left: 50%;
    transform: translateX(-50%) rotate(180deg); /* Поворот для сердечка */
    width: 20px;
    height: 18px;
    background: linear-gradient(145deg, #e07a7a, #d06); /* Градиент для объёма */
    clip-path: path('M10,0 C10,8 0,8 0,16 Q10,24 20,16 C20,8 10,8 10,0 Z'); /* Сердечко */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3), inset 0px -2px 4px rgba(0, 0, 0, 0.2); /* Тени */
    position: relative;
    z-index: 2;
}

.cat .nose::before {
    content: '';
    position: absolute;
    top: 15%; /* Расположение центральной линии */
    left: 50%;
    transform: translateX(-50%);
    width: 2px; /* Увеличена ширина линии */
    height: 10px; /* Длина линии */
    background: #3e2424; /* Цвет центральной линии */
    border-radius: 1px; /* Округлённые края */
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5); /* Лёгкая тень для объёма */
}